{% extends 'base.html' %}

{% block head %}
  <title>Page Not Found</title>
{% endblock %}

{% block main %}
  <div class="container-fluid" style="height: inherit;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: inherit;">
      <h1 style="color: #0095AF; font-size: 10rem;">404</h1>
      <p class="main-text-regular">The page you are looking for does not seem to exist.</p>
      <a href="/" class="btn btn-outline-primary main-text-regular mt-2 mb-2">Home</a>
    </div>
  </div>
{% endblock %}
