<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles/global.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar bg-body-tertiary navbar-expand-lg shadow-sm base-nav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/images/gem5ColorLong.gif" alt="gem5" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title secondary-text-semi" id="offcanvasNavbarLabel">gem5 Resources Manager</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <div class="navbar-nav main-text-regular">
                <a class="nav-link" href="https://gem5vision.github.io/gem5-resources-website/">gem5 Resources</a>
                <a class="nav-link" href="{{ url_for('help') }}">Help</a>
                <a id="reset" class="nav-link" role="button" onclick="resetCookies()">Reset</a>
              </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div id="liveAlertPlaceholder"></div>
      <div id="loading-container" class="align-items-center justify-content-center">
        <span class="main-text-semi me-3">Processing...</span>
        <div class="spinner-border spinner" role="status">
          <span class="visually-hidden">Processing...</span>
        </div>
      </div>
      {% block main %}{% endblock %}
    </main>
    {% block body %}{% endblock %}
    <script src="/static/js/app.js"></script>
  </body>
</html>