{% extends 'base.html' %}

{% block head %}
  <title>Editor</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.36.1/min/vs/loader.min.js"></script>
{% endblock %}

{% block main %}
  <div class="container-fluid" style="height: inherit;">
    <div class="row" style="height: inherit;">
      <div id="databaseActions" class="col-lg-3 offcanvas-lg offcanvas-start shadow-sm overflow-y-auto" style="background-color: #f8f9fa!important; height: initial;">
        <div class="d-flex flex-row justify-content-between mt-2">
          <h5 class="secondary-text-bold" style="color: #0095AF;">Database Actions</h5>
          <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#databaseActions" aria-label="Close"></button>
        </div>
        <form class="form-outline d-flex flex-column mt-3">
          <label for="id" class="main-text-regular">Resource ID</label>
          <div class="d-flex flex-row align-items-center gap-1">
            <input class="form-control" type="text" id="id" placeholder="Enter ID..." />
            <select id="version-dropdown" class="form-select main-text-regular" aria-label="Default select example" style="width: auto;"></select>
          </div>
          <label for="category" class="main-text-regular mt-3">Category</label>
          <select id="category" class="form-select mt-1" aria-label="Default select example"></select>
          <input class="btn btn-outline-primary main-text-regular align-self-end mt-2" type="submit" onclick="find(event)" value="Find" />
        </form>
        
        <div class="mt-3">
          <div class="main-text-regular">View Schema for Database</div>
          <button type="button" class="btn btn-outline-primary main-text-regular mt-1" id="schema-toggle" onclick="showSchema()">Show Schema</button>
        </div>

        <div class="mt-3">
          <div class="main-text-regular">Change Instance</div>
          <button type="button" class="btn btn-outline-primary main-text-regular mt-1" id="update-instance" onclick="window.location = '/login/mongodb'">Reset Instance</button>
        </div>

      </div>
      <div class="col ms-auto me-auto" style="max-width: 1440px;">
        <button class="btn btn-outline-primary d-lg-none align-self-start main-text-regular mt-2 ms-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#databaseActions" aria-controls="sidebar">
          Database Actions
        </button>
        <div class="d-flex flex-column align-items-center">
          <h2 class="page-title">{{ editor_type }}</h2>
          <h4 class="secondary-text-semi" style="color: #425469; word-break: break-all; text-align: center;">{{ tagline }}</h4>
        </div>
        <div class="d-flex flex-row justify-content-around mt-3" id="editor-title">
          <h4 class="secondary-text-semi" style="color: #425469;">Current</h4>
          <h4 class="secondary-text-semi" style="color: #425469;">Edited</h4>
        </div>
        <div id="diff-editor" class="editor-sizing"></div>
        <div id="schema-editor"></div>
        <div id="editing-actions" class="d-flex flex-wrap editorButtonGroup justify-content-end pt-2 pb-2 gap-2">
          <button type="button" class="btn btn-primary main-text-regular" id="update" onclick="showModal(event, update)">Update</button>
          <button type="button" class="btn btn-primary main-text-regular" id="add" onclick="showModal(event, add)" disabled>Add</button>
          <button type="button" class="btn btn-danger main-text-regular" id="delete" onclick="showModal(event, deleteRes)" disabled>Delete</button>
          <button type="button" class="btn btn-primary main-text-regular" id="add_version" onclick="showModal(event, addVersion)" disabled>Add New Version</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ConfirmModalLabel">Confirm Changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          These changes can not be undone. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="confirm" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block body %}
  <script src="/static/editor.js"></script>
{% endblock %}