{% extends 'base.html' %}

{% block head %}
  <title>Editor</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.36.1/min/vs/loader.min.js"></script>
{% endblock %}

{% block body %}
  <div class="container-fluid" style="height: 100%; padding: 0;">
    <div class="d-flex" style="height: inherit;">
      <div id="databaseActions" class="d-flex flex-column offcanvas-lg offcanvas-start shadow-sm" style="padding: 0.75rem; background-color: #f8f9fa!important;;">
        <div class="d-flex flex-row justify-content-between mt-2">
          <h5 class="secondary-text-bold" style="color: #0095AF;">Database Actions</h5>
          <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#databaseActions" aria-label="Close"></button>
        </div>
        <form class="form-outline d-flex flex-column mt-3">
          <label for="idInput" class="main-text-regular">Resource ID</label>
          <input class="form-control mt-1" type="text" id="idInput" placeholder="Enter ID..." />
          <label for="category" class="main-text-regular mt-3">Category</label>
          <select id="category" class="form-select mt-1" aria-label="Default select example"></select>
          <input class="btn btn-outline-primary main-text-regular align-self-end mt-2" type="submit" onclick="find(event)" value="Find" />
        </form>
        <form class="form-outline d-flex flex-column mt-3">
          <label for="updateURI" class="main-text-regular">Update URI</label>
          <input class="form-control mt-1" type="text" id="updateURI" placeholder="Enter URI..." />
        </form>
        <form class="form-outline d-flex flex-column mt-3">
          <label for="loadSchema" class="main-text-regular">Load Schema</label>
          <input class="form-control form-control-sm main-text-regular" type="file" id="loadSchema">
        </form>
      </div>
      <div class="d-flex flex-column editorContainer" style="margin-left: auto; margin-right: auto;">
        <button class="btn btn-outline-primary d-lg-none align-self-start main-text-regular" type="button" data-bs-toggle="offcanvas" data-bs-target="#databaseActions" aria-controls="sidebar" style="margin-top: 0.5rem; margin-left: 0.25rem;">
          Database Actions
        </button>
        <div class="d-flex flex-column align-items-center">
          <h2 class="page-title">MongoDB</h2>
          <h4 class="secondary-text-semi" style="color: #425469; word-break: break-all;">mongodb://mongodb0.example.com:27017</h4>
        </div>
        <div id="editor" style="height: 75%; width: 100%;"></div>
        <div class="d-flex editorButtonGroup justify-content-end pt-2">
          <button type="button" class="btn btn-primary main-text-regular me-2" id="update" onclick="showModal(event, update)">Update</button>
          <button type="button" class="btn btn-primary main-text-regular me-2" id="add" onclick="showModal(event, add)" disabled>Add</button>
          <button type="button" class="btn btn-danger main-text-regular" id="delete" onclick="showModal(event, deleteRes)" disabled>Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ConfirmModalLabel">Confirm Changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          These changes can not be undone. Are you sure you want to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="confirm" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/editor.js"></script>
{% endblock %}