{% extends 'base.html' %}

{% block head %}
  <title>Home</title>
{% endblock %}

{% block main %}
  <div class="d-flex align-items-center" style="height: inherit;">
    <div class="container-fluid d-flex justify-content-center" style="max-width: 530px;">
      <div class="d-flex flex-column align-items-center justify-content-center panelContainer">
        <div class="d-flex flex-column align-items-center mb-3">
          <div style="width: 50%;">
            <img id="gem5RAImg" class="img-fluid" src="/static/images/Untitled.png" alt="gem5">
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center mb-3 buttonGroup">
          <button type="button" id="" class="btn btn-outline-primary-inverted mt-2 mb-2">Load Previous Session</button>
          <button type="button" id="" class="btn btn-outline-primary-inverted mt-2 mb-2">MongoDB</button>
          <button type="button" id="" class="btn btn-outline-primary-inverted mt-2 mb-2">JSON</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}