{% extends 'base.html' %}

{% block head %}
  <title>Home</title>
{% endblock %}

{% block main %}
  <div id="liveAlertPlaceholder"></div>
  <div class="d-flex align-items-center" style="height: inherit;">
    <div class="container-fluid d-flex justify-content-center" style="max-width: 530px;">
      <div class="d-flex flex-column align-items-center justify-content-center panelContainer">
        <div class="d-flex flex-column align-items-center mb-3">
          <div style="width: 50%;">
            <img id="gem5RMImg" class="img-fluid" src="/static/images/gem5ResourcesManager.png" alt="gem5">
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center mb-3 buttonGroup">
          <button type="button" class="btn btn-outline-primary-inverted mt-2 mb-2" onclick="loadPrevSession(event)">Load Previous Session</button>
          <a href="{{ url_for('login', database_type='mongodb') }}" class="btn btn-outline-primary-inverted mt-2 mb-2">MongoDB</a>
          <a href="{{ url_for('login', database_type='json') }}" class="btn btn-outline-primary-inverted mt-2 mb-2">JSON</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block body %}
<script src="/static/app.js"></script>
{% endblock %}
