{% extends 'base.html' %}

{% block head %}
  <title>MongoDB Login</title>
{% endblock %}

{% block main %}
  <div id="liveAlertPlaceholder"></div>
  <div class="d-flex align-items-center" style="height: inherit;">
    <div class="container-fluid d-flex justify-content-center" style="max-width: 530px;">
      <div class="d-flex flex-column align-items-center justify-content-around panelContainer" style="height: 525px;">
        <h2 class="page-title mt-5" style="color: white; text-shadow: 0px 0px 2px black;">MongoDB</h2>
        <div style="width: 65%;">
          <form class="form-outline d-flex flex-column mt-3">
            <label for="name" class="main-text-regular" style="color: white;">Name</label>
            <input class="form-control mt-1 main-text-regular" type="text" id="name" placeholder="Enter Name..." />
            <label for="email" class="main-text-regular mt-3" style="color: white;">Email</label>
            <input class="form-control mt-1 main-text-regular" type="text" id="email" placeholder="Enter Email..." />
            <label for="uri" class="main-text-regular mt-3" style="color: white;">MongoDB URI</label>
            <input class="form-control mt-1 main-text-regular" type="text" id="uri" name="uri" placeholder="Enter URI..." />
          </form>
        </div>
        <div class="d-flex flex-row align-self-end me-3 mt-5 buttonGroup">
          <button type="button" id="saveLogin" class="btn btn-outline-primary-inverted mt-2 mb-2 me-2" onclick="handleLogin(event, true)">Save & Login</button>
          <button type="button" id="login" class="btn btn-outline-primary-inverted mt-2 mb-2" onclick="handleLogin(event, false)">Login</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block body %}
<script src="/static/app.js"></script>
{% endblock %}